label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    width: 25px;
    height: 25px;
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{
    content:url("../assets/img/clicked-star.svg");
    width: 35px;
    height: 35px;

}